---
# Playbook: Configure Raspberry Pi
# Description: Basic configuration and hardening for Raspberry Pi

- name: Configure Raspberry Pi
  hosts: servers
  gather_facts: true
  become: true

  vars:
    packages_to_install:
      - htop
      - vim
      - curl
      - wget
      - git
      - ufw
    ssh_port: 22
    allowed_ssh_ips:
      - 192.168.1.0/24
    timezone: "Europe/Madrid"
    hostname: "raspberry-pi"

  tasks:
    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: true
        cache_valid_time: 3600
      tags:
        - packages

    - name: Upgrade all packages
      ansible.builtin.apt:
        upgrade: safe
      tags:
        - packages

    - name: Install required packages
      ansible.builtin.apt:
        name: "{{ packages_to_install }}"
        state: present
      tags:
        - packages

    - name: Set timezone
      community.general.timezone:
        name: "{{ timezone }}"
      tags:
        - timezone

    - name: Set hostname
      ansible.builtin.hostname:
        name: "{{ hostname }}"
      tags:
        - hostname

    - name: Update /etc/hosts with hostname
      ansible.builtin.lineinfile:
        path: /etc/hosts
        regexp: '^127\.0\.1\.1'
        line: "127.0.1.1\t{{ hostname }}"
        state: present
      tags:
        - hostname

    - name: Configure UFW - Allow SSH
      community.general.ufw:
        rule: allow
        port: "{{ ssh_port }}"
        proto: tcp
        src: "{{ item }}"
      loop: "{{ allowed_ssh_ips }}"
      tags:
        - firewall

    - name: Enable UFW
      community.general.ufw:
        state: enabled
        policy: deny
        direction: incoming
      tags:
        - firewall

    - name: Disable password authentication for SSH
      ansible.builtin.lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^#?PasswordAuthentication'
        line: 'PasswordAuthentication no'
        state: present
      notify: Restart SSH
      tags:
        - ssh

    - name: Ensure SSH key authentication is enabled
      ansible.builtin.lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^#?PubkeyAuthentication'
        line: 'PubkeyAuthentication yes'
        state: present
      notify: Restart SSH
      tags:
        - ssh

  handlers:
    - name: Restart SSH
      ansible.builtin.service:
        name: ssh
        state: restarted
