---
- name: Gestión de usuario ji-ansible DNS y limpieza de rutas
  hosts: routers
  gather_facts: no # Con yes recolectaríamos información del dispositivo (xej versión) para usarlo: si version > 12 actualiza tal cosa; aquí no hace falta 
  connection: network_cli # Todas las conexiones van a ser CLI

  # --- SECCIÓN INTERACTIVA ---
  vars_prompt:
    # 1. Credencial para conectar AHORA (SSH)
    - name: "ansible_password"
      prompt: "1. Introduce la contraseña de jiuser para conectar"
      private: yes

    # 2. Credencial para el NUEVO usuario (Payload)
    - name: "password_nuevo"
      prompt: "2. Define la contraseña para el usuario que vas a crear en los equipos"
      private: yes
      confirm: yes  # ¡Importante! Obliga a escribirla dos veces
  vars:
    usuario_nuevo: "ansible-ji"

  tasks:
    - name: usuario ji-ansible presente
      cisco.ios.ios_user:
        name: "{{ usuario_nuevo }}"
        privilege: 15
        password_type: secret # podría ser password
        configured_password: "{{ password_nuevo }}" #
        state: present # Es para indicar que debería estar presente (si no lo está, créalo); con absent, es al revés (si está, lo borras)
        update_password: on_create # Solo se guarda la contraseña si el usuario se crea (si ya existe no se toca la que haya)
      register: resultado_usuario # La ejecución de la tarea devuevle este objeto json con el resultado: es bien, es mal, hay cambios, ha tardado x ...
      notify: Guardar config IOS # Notificará a un handler (ver al final), para que haga cosas si hubo cambios (guardar a startup-config)

    - name: entrada DNS para Router08
      cisco.ios.ios_config: # no es como ios_user, ios_vlan, etc. y no representa a un objeto --> no emplea present/absent
        lines:
          - ip host Router08 192.168.8.129 # si esa línea existe ya en la config, no hará nada; si no, la escribirá
      notify: Guardar config IOS # Notifica al handler si ha tenido que hacer algo

#    - name: eliminar ip route 0.0.0.0/0 si existe
#      cisco.ios.ios_static_routes:
#        config:
#          - address_families:
#              - afi: ipv4
#                routes:
#                  - dest: 0.0.0.0/0
#                    next_hops:
#                      - forward_router_address: 10.10.0.1
#        state: deleted
#      register: resultado_static_route
#      notify: Guardar config IOS



  #----------------------------------------------------------
  # HANDLERS (solo se llaman desde las tareas si hubo cambios
  #----------------------------------------------------------

  handlers:
    - name: Guardar config IOS
      cisco.ios.ios_config: # Aquí usamos el módulo ios_config de la Collection cisco.ios, que sirve para tareas relacionadas con la configuración
        save_when: always
